[submodule "conf"]
	path = conf
	url = git@github.com:carlosrodlop/carlosrodlop-conf.git
[submodule "forks/cb-env-demos"]
	path = forks/cb-env-demos
	url = git@github.com:cloudbees/ps-crodriguezlopez-env.git
[submodule "forks/eks-labs"]
	path = forks/eks-labs
	url = git@github.com:carlosrodlop/eks-blueprints-labs.git
